<style>
    footer {
  text-align: center;  /* Centers the text and inline elements */
  margin-top: 20px;    /* Adds some space above the footer */
}

footer a {
  margin: 0 10px;      /* Adds spacing between the social media icons */
}

footer img {
  vertical-align: middle; /* Keeps icons vertically aligned */
}

</style>


<footer>
    <div class="f-info">
        <div class="f-social">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>

        </div>
        <div class="f-privacy">
             &copy;WanderLust Private Limited

        </div>
        <div class="f-links">
            <a href="">Privacy</a>
            <a href="">Terms</a>
        </div>
    </div>
</footer>